{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

    <link rel="stylesheet" href="{% static 'tracker/main.css' %}">
    {% if title %}
        <title>Montrack - {{ title }}</title>
    {% else %}
        <title> Montrack </title>
    {% endif %}
</head>
<body>

    <nav class="navbar navbar-expand-md navbar-dark bg-dark ">
    <div class="container">
          <a class="navbar-brand mr-4" href="{% url 'overview' %}">MONTRACK</a>
          <div class="collapse navbar-collapse" id="navbarToggle">
            <div class="mr-auto">
            </div>
            <div class="navbar-nav">
                {% if user.is_authenticated %}
                    <a class="nav-item nav-link" href="{% url 'profile' %}">My profile</a>
                    <a class="nav-item nav-link" href="{% url 'logout' %}">Logout</a>
                {% else %}
                  <a class="nav-item nav-link" href="{% url 'login' %}">Login</a>
                  <a class="nav-item nav-link" href="{% url 'register' %}">Register</a>
                {% endif %}
            </div>
          </div>
    </div>
    </nav>

    <div class="container">
        <div class="row">
            {% if user.is_authenticated %}
                <nav class="col-md-2 d-none d-md-block bg-light sidebar">
                    <div class="sidebar-sticky">
                        <ul class="nav flex-column">
                          <li class="nav-item">
                            <a class="nav-link" href="{% url 'overview' %}">
                              <span data-feather="home"></span>
                              Dashboard <span class="sr-only">(current)</span>
                            </a>
                          </li>
                          <li class="nav-item">
                            <a class="nav-link" href="{% url 'new-expense' %}">
                              <span data-feather="file"></span>
                              New expense
                            </a>
                          </li>
                          <li class="nav-item">
                            <a class="nav-link" href="{% url 'reports' %}">
                              <span data-feather="bar-chart-2"></span>
                              Reports
                            </a>
                          </li>
                          <li class="nav-item">
                            <a class="nav-link" href="#">
                              <span data-feather="layers"></span>
                              Integrations
                            </a>
                          </li>

                          <li class="nav-item">
                            <a class="nav-link" href="{% url 'profile' %}">
                              <span data-feather="users"></span>
                              My profile
                            </a>
                          </li>
                        </ul>

                        <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
                          <span>Saved reports</span>
                          <a class="d-flex align-items-center text-muted" href="{% url 'create-report' %}" >
                            <span data-feather="plus-circle"></span>
                          </a>
                        </h6>
                        <ul class="nav flex-column mb-2">
                          <li class="nav-item">
                            <a class="nav-link" href="#">
                              <span data-feather="file-text"></span>
                              Current month
                            </a>
                          </li>
                          <li class="nav-item">
                            <a class="nav-link" href="#">
                              <span data-feather="file-text"></span>
                              Last quarter
                            </a>
                          </li>
                          <li class="nav-item">
                            <a class="nav-link" href="#">
                              <span data-feather="file-text"></span>
                              Social engagement
                            </a>
                          </li>
                          <li class="nav-item">
                            <a class="nav-link" href="#">
                              <span data-feather="file-text"></span>
                              Year-end sale
                            </a>
                          </li>
                        </ul>
                      </div>
                </nav>
            {% endif %}
            <main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
                <div class="d-block justify-content-between flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
                            {% if messages %}
                                {% for message in messages %}
                                    <div class="alert alert-{{ message.tags }}">
                                    {{ message }}
                                    </div>
                                {% endfor %}
                            {% endif %}
                            {% block content %}{% endblock %}
                </div>
            </main>
        </div>
    </div>
</body>
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="../../../bootstrap-4.0.0/assets/js/vendor/popper.min.js"></script>
    <script src="../../../bootstrap-4.0.0/dist/js/bootstrap.min.js"></script>

    <!-- Icons -->
    <script src="https://unpkg.com/feather-icons/dist/feather.min.js"></script>
    <script> feather.replace()</script>


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

</html>