{% extends "tracker/base.html" %}
{% load crispy_forms_tags %}
{% load bootstrap4 %}
{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}
{{ form.media }}
{% block content %}
   <div class="content-section">
       <form method="POST">
           {%  csrf_token %}
           <fieldset class="form-group">
               <legend class="border-bottom mb-4">Create report</legend>
                {{ form| crispy }}
           </fieldset>
           <div class="form-group">
               <button class="btn-outline-info" type="submit">Create</button>
           </div>
       </form>
   </div>
{%  endblock content %}