{% extends "tracker/base.html" %}
{% block content %}
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
        <h1 class="h1">Dashboard</h1>

    </div>
    <h2 class="text h2 col-4">Year statistics</h2>

    <div class="shadow-md p-4">
        <canvas class="my-4 chartjs-render-monitor"
                id="myChart" width="940"
                height="396"
                style="display: block;

                height: 264px;
                width: 627px;"></canvas>
          <p class="h5 text ml-5 bg-light p-4 rounded-4" >Next month you'll probably spend about {{ next_month|floatformat }} BYR</p>

    </div>

    <h2 class="text-muted col-4 mt-4 ml-4">Last expenses</h2>

    <div class="table-responsive shadow-lg p-4 ml-3">
            <table class="table table-striped table-sm">
              <thead>
                <tr>
                  <th>Category</th>
                  <th>Amount</th>
                  <th>Currency</th>
                  <th>Date</th>
                </tr>
              </thead>
              <tbody>
                {% for expense in expenses %}
                    <tr>
                      <td>{{ expense.category }}</td>
                      <td>{{ expense.amount }}</td>
                      <td>{{ expense.currency }}</td>
                      <td>{{ expense.date|date:"j M Y" }}</td>
                    </tr>
                  {% endfor %}
              </tbody>
            </table><div class=""><a class="text-muted" href="{% url 'new-expense' %}"><span data-feather="plus-circle"></span> </a></div>

          </div>

    <!-- Graphs -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.min.js"></script>
    <script>
      var ctx = document.getElementById("myChart");
      var myChart = new Chart(ctx, {
        type: 'line',
        data: {
          labels: ["January", "February", "March", "April", "May", "June"],
          datasets: [{
            data: [240, 500, 304, 233, 1200, 400,200],
            lineTension: 0,
            backgroundColor: 'transparent',
            borderColor: '#007bff',
            borderWidth: 4,
            pointBackgroundColor: '#007bff'
          }]
        },
        options: {
          scales: {
            yAxes: [{
              ticks: {
                beginAtZero: false
              }
            }]
          },
          legend: {
            display: false,
          }
        }
      });
    </script>
{%  endblock %}

