{% extends "tracker/base.html" %}
{% block content %}
    <div class="shadow p-4 m-3">
        <h1 class="text-muted ml-3">My reports</h1>
        <div class="container">
          <ul class="list-group list-group-flush">
            {% for report in reports %}
                <li class="list-group-item mb-0 p-1">
                <a href="{% url 'report-detail' pk=report.pk  %}"><h4 class="h4 text-dark">Report - {{ report }}</h4></a>
                <p class="text pl-2 pt-0 mb-0">{{ report.start_date|date:"j m Y"  }} - {{ report.end_date|date:"j m Y"  }}</p>
                </li>
            {% endfor %}
          </ul>
        </div>
    </div>
{%  endblock %}