{% extends "tracker/base.html" %}

{% block content %}
    <div class=" p-2">
   <h2 class="text-muted">Report - {{ title }}</h2>
    <div class="row m-2">
        <p class="text m-2">From: {{ from|date:"j m Y"  }}</p>
        <p class="text m-2">To: {{ to|date:"j M Y"  }}</p>
    </div>
    <div class="table-responsive p-4 shadow-lg">
            <table class="table table-striped table-sm">
              <thead>
                <tr>
                  <th>Category</th>
                  <th>Sum in BYR</th>
                </tr>
              </thead>
              <tbody>

                {% for category, sum in expenses.items %}
                    {% if sum > 0 %}
                    <tr>
                      <td>{{ category }}</td>
                      <td>{{ sum|floatformat }}</td>
                    </tr>
                    {% endif %}
                  {% endfor %}
                <tr class="bg-dark text-white">
                    <td>Total sum</td>
                    <td>{{ total_sum|floatformat }}</td>
                </tr>
              </tbody>
            </table>
          </div>
    </div>
{%  endblock content %}
