{% extends "tracker/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="row mt-3 m-1 p-4 bg-light">
      <div class="col-4">
        <img class="rounded-lg p-4 ml-2 account-img" src={{ user.profile.image.url }}>
      </div>
        <div class="col-8">
          <h2 class="account-heading">{{ user.username }}, {{ user.profile.age }} y. o.</h2>
          <p class="text-secondary">{{ user.email }}</p>
        </div>
      </div>
    <div class="bg-light p-5">
      <form method="POST" enctype="multipart/form-data">
           {%  csrf_token %}
           <fieldset class="form-group" >
               <legend class="border-bottom mb-4">Profile Info</legend>
                {{ u_form|crispy }}
                {{ p_form|crispy }}
           </fieldset>
           <div class="form-group">
               <button class="btn-outline-info" type="submit">Update</button>
           </div>
       </form>
    </div>
{%  endblock content %}