{% extends "tracker/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
   <div class="col-md-8 p-auto m-md-auto">
       <form method="POST">
           {%  csrf_token %}
           <fieldset class="form-group">
               <legend class="border-bottom mb-4">Join MONTRACK</legend>
                {{ form| crispy }}
           </fieldset>
           <div class="form-group">
               <button class="btn-outline-info" type="submit">Sign Up</button>
           </div>
       </form>
        <div class="border-top pt-3">
            <small class="text-muted">
                Already have an account? <a class="ml-2" href="{% url 'login' %}"> Sign in </a>
            </small>
        </div>
   </div>
{%  endblock content %}